
.table-style {
    width: 100%;
    overflow: auto;
}

.table-style table{
    width: 100%;
}
.table-style tr:nth-child(odd){
    background-color: #fafafa;
}


.table-style th,
td {
    text-align: center;
    word-break: break-all;
    padding: .5rem .5rem;
    font-size: .8rem;

}
.table-style a{
    color: rgb(66, 66, 66);
    text-decoration:none;
    word-break: break-all;
}
.table-style a:hover{
    color: rgb(90, 90, 90);
}

.choice_table{
    border: 1px #000 solid;
}


.choice_table tbody td{
    border-left: 1px #000 solid;
}



.table_border tbody td{
    border: 1px #000 solid;
}

.table_split :nth-child(n){
    border-top: hidden;
    border-left:hidden;
}
.table_split :last-child{
    border-top: hidden;
    border-left:hidden;
    border-right: hidden;
}