/* index.blade.php */
.business_allPage{
    position: relative;
    min-width: 1200px;
    width: 100%;
}

.business_allPage .business_search{
    position: absolute;
    left: 0;
    width: 16.67%;
    padding: 0 15px;
}

.business_allPage .business_search .business_search_title{
    font-size: 16px;
    font-weight: bolder;
    width: 100%;
}

.business_allPage .business_search .business_search_select{
    width:100%
}
.business_allPage .business_search .business_search_select .business_search_reset{
    width: 100%;
    color: #fff;
    background-color: #a2e044;
    border-color: #a2e044;
}
.business_allPage .businessTrip_list{
    position: absolute;
    margin-left: 16.67%;
    width: 83.3%;
    padding: 0 15px;
}

.business_allPage .businessTrip_list .businessTrip_tool{
    display: flex;
    width:100%;
    justify-content: space-between;
    
}

.business_allPage .businessTrip_list .businessTrip_tool .businessTrip_button{
    justify-content: end;
}

.business_allPage .businessTrip_list .businessTrip_list_content{
    width: 100%;
}

/* create.blade.php */

.business-create-allPage{
    justify-content: center;
    display: flex;
}

.business-create-allPage .business-create-body{
    width: 75%;
}

.business-create-allPage .business-create-body .business-create-form{
    width: 100%;
}

.business-create-allPage .business-create-body .business-create-form .business-create-title{
    font-size: 16px;
    font-weight: bolder;
    width: 100%;
}
